@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Poppins:wght@200;300;400;800&display=swap");
:root {
    --deep-background: #080f24;
    --dbg-whiter: #141f40;
    --red: #ff034a;
    --cyan: #00f0ff;
    --blue: #0c8cfe;
    --purple: #8400ff;
    --green: #06d6a0;
    --secondary-text: #efefef;
    --show-bg: rgba(0, 0, 0, 0.7);
    --primary-text: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--deep-background);
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 16px !important;
}

/************* header ************/
.header {
    height: 100vh;
    position: relative;
}
.header-img {
    height: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
    filter: brightness(0.3);
    object-fit: cover;
    width: 100%;
}
.navbar {
    border-bottom: 4px solid var(--red);
    background-color: var(--deep-background);
}
.navbar-brand {
    font-size: 32px;
    font-weight: 800;
    background: linear-gradient(to right, var(--red), var(--cyan));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.welcome-text {
    max-width: 700px;
}
.welcome-title {
    color: white;
    font-size: 64px;
    font-weight: bold;
    background: linear-gradient(to right, var(--blue), var(--cyan));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome-p {
    color: white;
}
@media screen and (max-width: 992px) {
    .welcome-title {
        font-size: 44px;
    }
}
/* .navbar{
    background-color: var(--deep-background);
} */

/**********hero**************/

.hero {
    display: flex;
    position: relative;
    background-color: var(--deep-background);
}
/************ card **************/
.cu-card {
    position: relative;
}
.cu-card-header:hover {
    box-shadow: 0px 0px 10px #00f0ff;
    cursor: pointer;
}
.cu-card-header {
    width: 100%;
    aspect-ratio: 9 / 12;
    background: linear-gradient(
        45deg,
        #0c8cfe,
        #ea3329,
        #ffd321,
        #8400ff,
        #00f0ff
    );
    display: grid;
    place-items: center;
}
.card-relative {
    aspect-ratio: 9 / 12;
    width: calc(100% - 4px);
    position: relative;
    background-color: var(--red);
}
.card-relative > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-infos {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-box {
    padding: 0 8px;
    background-color: var(--green);
    color: #fff;
}

.info-box-left{
    background-color: var(--red);
    color: #fff;
}
.card-big-title {
    background: linear-gradient(to right, var(--green), var(--blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}
.card-title {
    background: linear-gradient(to right, var(--red), var(--blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-title:hover {
    text-shadow: 0px 0px 10px #00f0ff;
    cursor: pointer;
}
.episodes{
    display: flex;
}
.episode-box{
    border: none;
    background-color: var(--green);
    padding: 4px 8px;
    margin-right: 8px;
    cursor: pointer;
    filter: brightness(0.5)
}
.video-box{
    width: 100%;
    aspect-ratio: 16 / 9;
}
.active{
    filter: brightness(1)
}
/**************left-side***************/
.left-side {
    flex: 1;
}
/**************right-side***************/
.right-side {
    min-width: 350px;
    margin-left: 8px;
}
.filter-box {
    background-color: var(--dbg-whiter);
    padding: 8px;
    margin-top: 18px;
}
.filter-btn {
    display: none;
    cursor: pointer;
}
/*******footer***********/
.footer {
    background-color: var(--deep-background);
}

/***********slider**************/
.slider {
    position: relative;
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 1400px;
}
.slider-img {
    height: 380px;
    width: 520px;
    position: absolute;
    border-radius: 16px;
    transition: all ease-out 0.2s;
    background-color: #ff034a;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
#img0 {
    z-index: 3;
}
#img1 {
    z-index: 2;
    transform: translateX(50%) scale(0.8);
    filter: blur(0.5px);
}
#img2 {
    z-index: 1;
    transform: translateX(70%) scale(0.7);
    filter: blur(1px);
}

#img3 {
    z-index: 1;
    transform: translateX(-70%) scale(0.7);
    filter: blur(1px);
}

#img4 {
    z-index: 2;
    transform: translateX(-50%) scale(0.8);
    filter: blur(0.5px);
}

.arrow {
    position: absolute;
    height: 36px;
    width: 36px;
    top: 50%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 8px;
}
.arrow:hover {
    cursor: grab;
}

#left-arrow {
    transform: translate(100%, -50%);
    left: 0;
}
#right-arrow {
    left: 100%;
    transform: translate(-200%, -50%);
}

@media screen and (max-width: 920px) {
    .slider-img {
        height: 240px;
        width: 380px;
    }
    .tablet-none {
        display: none;
    }
    .hero {
        flex-direction: column;
    }
    .slider {
        height: 240px;
    }
    .filter-btn {
        display: block;
    }
}
@media screen and (max-width: 576px) {
    .slider-img {
        height: 160px;
        width: 300px;
    }
    .slider {
        height: 160px;
    }
    .arrow {
        height: 24px;
        width: 24px;
    }
}

/*************admin****************/
.collapse {
    justify-content: end;
}
.input-group-text {
    min-width: 150px;
}
.c-pointer {
    cursor: pointer;
}
.table {
    background-color: var(--dbg-whiter);
}
.list-img {
    height: 50px;
    background-color: var(--green);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 9;
}
td,
th {
    vertical-align: middle;
}
/*****dashboard******/
.profile-img-box {
    background-color: var(--dbg-whiter);
    max-width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    border-radius: 16px;
    border: 2px solid var(--green);
}
.profile-img-box > img {
    border-radius: 16px;
}
.dashboard {
    max-width: 700px;
}
/*************utilities****************/
a {
    color: white;
    text-decoration: none;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}
.uploaded-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea {
    display: flex;
}
.title {
    font-size: 18px;
}
/********* multi-select**************/
.multi-select {
    width: 100%;
    position: relative;
    z-index: 100;
}
.select-input {
    border: none;
    outline: none;
    margin: 4px 0;
    flex-grow: 1;
}
.flex {
    display: flex;
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
    flex-wrap: wrap;
}
.badge {
    background-color: dodgerblue;
    width: max-content;
    color: #fff;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.icon {
    display: flex;
    align-items: center;
    position: relative;
    width: 12px;
    margin-left: 8px;
    outline: none;
    background-color: transparent;
    border: none;
}
.icon:hover {
    cursor: pointer;
}
.icon > div {
    height: 3px;
    width: 12px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
}
.line1 {
    transform: rotate(45deg);
}
.line2 {
    transform: rotate(-45deg);
}
.select-list {
    background-color: #fff;
    margin-top: 4px;
    border-radius: 4px;
    display: none;
    position: absolute;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}
.select-element {
    padding: 4px;
    color: #808080;
    font-size: 14px;
}
.frozen {
    color: gray;
    cursor: not-allowed !important;
    display: none;
}
.select-element:hover {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}
.hide {
    display: none;
}
.secondary-text {
    color: var(--secondary-text) !important;
}

/****************show**************/
.show-hero {
    position: relative;
}
.show-profile {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    border-radius: 50%;
    position: fixed;
}
.show-hero-info {
    background-color: var(--show-bg);
    padding: 16px 8px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.title-blue {
    color: var(--blue);
}
.comment-body {
    background-color: var(--dbg-whiter);
    padding: 8px;
    border: 16px;
}
.comment-user-profile {
    border-radius: 50%;
    background-color: var(--blue);
    height: 48px;
    aspect-ratio: 1 / 1;
    margin-right: 8px;
}

@media screen and (max-width: 576px) {
    p {
        font-size: 14px;
    }
    .show-hero-info {
        margin: 0;
    }
}

/*********** modal ********/
.modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    place-items: center !important;
}
.modal-content {
    background-color: var(--dbg-whiter);
    color: var(--primary-text);
}
.small-profile {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 4px solid transparent;
}
.modal-body {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.choosen {
    border: 4px solid var(--green);
}
